/* #EDEFEE, #495E57
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #fff;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-left: 70px;
  justify-content: start;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: end;
}

.navbar > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navbar li {
  display: flex;
  font-family: "Karla";
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.navbar a:hover {
  text-decoration: none;
  color: #F4CE14;
}

.main-content {
  background-color: #FFF;
}

.hero-section {
  background-color: #495E57;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}

.hero-description {
  margin: 2rem 5rem;
  flex-direction: column;
}

.hero-img {
  width: 100%;
  margin: 2rem 5rem;
  border-radius: 20px;
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.35));
}

.text-h1 {
  font-family: "Markazi Text";
  font-size: 4rem;
  color: #F4CE14;
  line-height: 100%;
}

.text-h4 {
  font-family: "Markazi Text";
  font-size: 2rem;
  color: white;
}
.text-p {
  font-family: "Karla";
  font-size: 1.1rem;
  margin-top: .75rem;
  color: white;
}

.btn {
  text-align: center;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  background-color: #F4CE14;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  margin-top: 5rem;
  cursor: pointer;
}

.btn > a {
  text-decoration: none;
  color: #333;
}

.bg-green {
  background-color: #495E57;
}

.color-black {
  color:#333;
  text-align: center;
  padding: 3rem;
}

.specials {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.card-specials {
  background-color: #EDEFEE;
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.35));
}

.card-body {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.card-img {
  width: 300px;
  min-width: 300px;
  max-height: 200px;
}

.color-white {
  color:#fff;
  text-align: center;
  padding: 3rem;
}

.card-title {
  font-family: "Markazi Text";
  font-size: 1.5rem;
  display: block;
}

.card-price {
  font-family: "Markazi Text";
  font-size: 1.5rem;
  color:#495E57;
  font-weight: bolder;
}

.card-content {
  width: 300px;
  padding: 0 1.5rem 1.5rem;
  font-family: "Karla";
}

.btn-order {
  margin: 0 1.5rem 1.5rem;
  text-align: center;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  background-color: #F4CE14;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.about-description {
  margin: 2rem 5rem;
  width: 70%;
}

.testimonials {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-evenly;
}

.card-testimonials {
  background-color: #EDEFEE;
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.35));
  margin-bottom: 5rem;
  max-width: 300px;
}

.testimonials-title {
  padding: 1.5rem;
  width:100%;
}

.testimonials-img {
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 50%;
  max-width: 100%;
  margin: auto;
}

.testimonials-feedback {
  max-width: 100%;
  margin: auto;
}

.about-section {
  display: flex;
  padding: 5rem;
  justify-content: space-around;
}

.text-black {
  color: black;
}

.about-img {
  width: 100%;
  margin: 2rem;
  border-radius: 20px;
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.35));
}

.footer {
  padding: 2.5rem 10rem;
  width: 100vw;
  background-color: #495E57;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-title {
  margin-bottom: 1rem;
  font-weight: bolder;
  color: white;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: .25rem 0;
}

.footer-link:hover {
  font-weight: bold;
}

.footer-text {
    display: block;
  text-decoration: none;
  color: #fff;
  margin: .25rem 0;
}

.footer-img {
  width: 100px;
}