/* #EDEFEE, #495E57
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #fff;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-left: 70px;
  justify-content: start;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: end;
}

.navbar > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navbar li {
  display: flex;
  font-family: "Karla";
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.navbar a:hover {
  text-decoration: none;
  color: #F4CE14;
}

.main-content {
  background-color: #FFF;
}

.hero-section {
  background-color: #495E57;
}

.footer {
  width: 100vw;
  background-color: #495E57;
  position: fixed;
}
