/* #EDEFEE, #495E57
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar li {
  display: flex;
  font-family: "Karla";
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.navbar a:hover {
  text-decoration: none;
  color: #F4CE14;
}

.navbar a:visited {
  text-decoration: none;
}

/*
.main-content {
  background-color: #FFF;
}

.color-black {
  color:#333;
  text-align: center;
  padding: 3rem;
}





.card-content {
  width: 300px;
  padding: 0 1.5rem 1.5rem;
  font-family: "Karla";
}



.about-description {
  margin: 2rem 5rem;
  width: 70%;
}

.testimonials {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-evenly;
}

.card-testimonials {
  background-color: #EDEFEE;
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.35));
  margin-bottom: 5rem;
  max-width: 300px;
}

.testimonials-title {
  padding: 1.5rem;
  width:100%;
}

.testimonials-img {
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 50%;
  max-width: 100%;
  margin: auto;
}

.testimonials-feedback {
  max-width: 100%;
  margin: auto;
}

.about-section {
  display: flex;
  padding: 5rem;
  justify-content: space-around;
}

.text-black {
  color: black;
}

.about-img {
  width: 100%;
  margin: 2rem;
  border-radius: 20px;
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.35));
}
*/

.bg-green {
  background-color: #495E57;
}

.hero-img {
  border-radius: 20px;
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.35));
}

.text-h1 {
  font-family: "Markazi Text";
  font-size: 4rem;
  color: #F4CE14;
  line-height: 100%;
}

.text-h4 {
  font-family: "Markazi Text";
  font-size: 2rem;
  color: white;
}
.text-p {
  font-family: "Karla";
  font-size: 1.1rem;
  margin-top: .75rem;
  color: white;
}

.btn-reserve {
  text-align: center;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  background-color: #F4CE14;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.specials {
  margin-bottom: 3rem;
}

.card-specials {
  background-color: #EDEFEE;
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.35));
}

.card-flex {
  display: flex;
  justify-content: space-between;
}

.testimonials {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-evenly;
}

.card-testimonials {
  background-color: #EDEFEE;
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.35));
  margin-bottom: 1rem;
  border-radius: 5px;
}

.testimonials-title {
  padding: 1.5rem;
  width:100%;
}

.testimonials-img {
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 50%;
  max-width: 100%;
  margin: auto;
}

.testimonials-feedback {
  max-width: 100%;
  margin: auto;
}

.footer {
  padding: 2.5rem;
  background-color: #495E57;
}

.footer-title {
  margin-bottom: 1rem;
  font-weight: bolder;
  color: white;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: .25rem 0;
}

.footer-link:hover {
  font-weight: bold;
}

.footer-text {
  text-decoration: none;
  color: #fff;
  margin: .25rem 0;
}